form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
}

mat-card {
    width: 50%;
    position: relative;
    left: 23%;
}

button {
    margin-right: 15px;
    margin-left: 15px;
}

.cancela {
    position: relative;
    left: 35%;
    background-color: red;
    border-style: red;
    color: white;
}

.criar {
    position: relative;
    left: 30%;
}