.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: yellow;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0px 1px 0px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.logo {
    height: 95px;
    border-radius: 3rem;
}