.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.footer>span {
    font-size: 1.1rem;
    font-weight: 300;
}

.rodape {
    text-align: center;
    font-size: larger;
    border-radius: 2rem;
    width: 25%;
}